<div ng-app="app">
  <div ng-controller="peopleCtrl">
    <h1>My People</h1>
    <ul>
      <div ng-repeat="person in people track by $index" ng-click="showBio(person)">
        <p>Name: {{person.name}}</p>
      <p ng-if="person.bioVisible"> Bio: {{person.bio}} </p>
      </div>
    </ul>
    <div>
      Add person: 
      <p>Name: <input ng-model="newName"></p>
      <p>bio: <input ng-model="newBio"></p>
      <button ng-click="addperson(newName, newBio)">Add person</button>
    </div> <br>
    There are: {{countPeople}} people
  </div>
</div>